/* Estilo para os campos de entrada de data */
.form-group input[type="date"] {
    width: calc(100% - 22px); /* Ajusta a largura para caber dentro do contêiner */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Estilo para os campos de entrada de número */
.form-group input[type="number"] {
    width: calc(100% - 22px); /* Ajusta a largura para caber dentro do contêiner */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Estilo para o checkbox de material em falta */
.form-group input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
}

/* Estilo para o label do checkbox */
.form-group label[for="emFalta"] {
    font-size: 1rem;
    color: #555;
    display: flex;
    align-items: center;
}

/* Estilo para o botão de exportação para Excel */
#exportarExcel {
    width: 250px;
    background-color: #28a745;
    padding: 12px;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#exportarExcel:hover {
    background-color: #218838;
}

/* Estilo para a seção de exportação */
.export-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
