.form-group {
    text-align: left;
    margin-bottom: 20px; /* Aumentamos o espaçamento entre os grupos de formulário */
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}
